* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.form-group{
    margin-bottom: 2rem;
    display: none;
}
.form-group.active{
    display: block;
}
button[type=submit]{
    display: none;
}
button[type=submit].active{
    display: block;
}
.next.inactive{
    display: none;
}